<div class="main-content">
    <form>
      <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
          <div class="media align-items-center m-b-15">
           
           
          </div>
          <div class="m-b-15">
            <button (click)="saveEdit()" class="btn btn-primary">
              <i class="anticon anticon-save"></i>
              <span>Lưu</span>
            </button>
          </div>
        </div>
      </div>
      <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
          <div class="card">
            <div class="card-body">
              <form #updateForm="ngForm">
                <!-- <div class="form-group" hidden>
                  <label class="font-weight-semibold" for="productName">Product Name</label>
                  <input formControlName="id" type="text" class="form-control" id="productName" placeholder="Product Name"
                    value="Skinny Men Blazer" />
                </div> -->
                <div class="form-group">
                    <label class="font-weight-semibold" for="id">ID</label>
                    <input type="text" class="form-control" id="id" readonly
                    name="id"
                    [(ngModel)]="data.id"
                      />
                  </div>
                <div class="form-group">
                  <label class="font-weight-semibold" for="companyName">Tên nhà cung cấp</label>
                  <input type="text" class="form-control" id="companyName"
                  name="companyName"
                    [(ngModel)]="data.companyName"
                    placeholder="nhà cung cấp" />
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold" for="address">Địa chỉ</label>
                    <input type="text" class="form-control" id="address"
                    name="address"
                    [(ngModel)]="data.address"
                      placeholder="địa chỉ" />
                  </div>
                  <div class="form-group">
                    <label class="font-weight-semibold" for="phone">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone"
                    name="phone"
                    [(ngModel)]="data.phone"
                      placeholder="Số điện thoại" />
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  